@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

div.wrapper
{
	width:400px;
	margin-right:auto;
	margin-left:auto;
	background-color:#DEDEDE;
	border:1px solid #C1C1C1;
	text-align:center;
}

a
{
	text-decoration:none;
}

h2
{
	font-family: 'Lato', sans-serif;
	font-weight:300;
}

p.info
{
	font-family: 'Lato', sans-serif;
	font-weight:300;
	display:inline;
	position:relative;
	top:-10px;
	left:13px;
}

.checkradio
{
	background-image: url('star.png');
    display:inline-block;
    width:32px;
    height:32px;
    margin-left:32px;
    margin-right:160px;
}

.radio2
{
	background-image: url('star-grey.png');
    display:inline-block;
    width:32px;
    height:32px;
    margin-left:32px;
    margin-right:160px;
}

.radios .radio{
    background-image: url('star-grey.png');
    display:inline-block;
    width:32px;
    height:32px;
    margin-left:32px;
    margin-right:160px;
}

.radios input[type=radio]{
    display:none;
}

.radios input[type=radio]:checked + .radio{
   background-image: url('star.png');
}

::-webkit-input-placeholder {
   font-family: 'Lato', sans-serif;
   font-weight:300;
   font-size:20px;
}

:-moz-placeholder { /* Firefox 18- */
   font-family: 'Lato', sans-serif;
   font-weight:300;
   font-size:20px;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: 'Lato', sans-serif;
   font-weight:300;
   font-size:20px;
}

:-ms-input-placeholder {  
   font-family: 'Lato', sans-serif;
   font-weight:300;
   font-size:20px;

}

input.rate
{
	width:100px;
	height:40px;
	border:none;
	border-radius:6px;
	font-family: 'Lato', sans-serif;
   	font-weight:400;
   	font-size:16px;
   	color:#000;

	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FFB700),
	color-stop(1, #E3A300)
);
background-image: -o-linear-gradient(bottom, #FFB700 0%, #E3A300 100%);
background-image: -moz-linear-gradient(bottom, #FFB700 0%, #E3A300 100%);
background-image: -webkit-linear-gradient(bottom, #FFB700 0%, #E3A300 100%);
background-image: -ms-linear-gradient(bottom, #FFB700 0%, #E3A300 100%);
background-image: linear-gradient(to bottom, #FFB700 0%, #E3A300 100%);

	cursor: pointer; cursor: hand;
}

input.rate:hover
{
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FFA600),
	color-stop(1, #E39700)
);
background-image: -o-linear-gradient(bottom, #FFA600 0%, #E39700 100%);
background-image: -moz-linear-gradient(bottom, #FFA600 0%, #E39700 100%);
background-image: -webkit-linear-gradient(bottom, #FFA600 0%, #E39700 100%);
background-image: -ms-linear-gradient(bottom, #FFA600 0%, #E39700 100%);
background-image: linear-gradient(to bottom, #FFA600 0%, #E39700 100%);
}