#header-holder { background-image:url(img/header_bg_blue.jpg);background-repeat:repeat-x;}
#front_page_container {background:transparent url(img/page_bg_blue.jpg);}
#copyright { background:transparent url(img/copyright_bg_blue.jpg) repeat-x top center;}
.Page_content{color:#c2d6db}
