#header-holder { background-image:url(img/header_bg_brown.jpg);background-repeat:repeat-x;}
#front_page_container {background:transparent url(img/page_bg_brown.jpg);}
#copyright { background:transparent url(img/copyright_bg_brown.jpg) repeat-x top center;}
.Page_content{color:#AFA699}
