#header-holder { background-image:url(img/header_bg_green.jpg);background-repeat:repeat-x;}
#front_page_container {background:transparent url(img/page_bg_green.jpg);}
#copyright { background:transparent url(img/copyright_bg_green.jpg) repeat-x top center;}
.Page_content{color:#b5e4c8;}
